*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
 
}
main{
    width:60%;
    border: 2px solid rgb(138, 136, 136);
    margin: 0 auto;
}

h4{
    margin: 1rem 0.5rem;
    ;
}

form{
    border: 1px solid black;
    width: 98%;
    margin: 1rem auto;
    padding: 0.5rem;
}

input{
    width: 100%;
    margin: 0.5rem 0;
}

select{
    width: 100%;
    margin: 0.5rem 0;
    background-color: rgb(236, 233, 233);
}

button{
    margin: 0.5rem 0;
    width: 100%;
    padding: 0.2rem 0;
    background-color: rgb(15,189,30);
    color:white;
    font-size: small;
    font-weight: 700;
}

hr{
    margin: 0.7rem;
}

